@import "tailwindcss";

:root {
  --background: #CAB1A4;
  --foreground: rgba(13, 8, 34, 0.8);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  min-height: 100vh;
  font-family: var(--font-afacad), Afacad, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

html,
body {
  background: #CAB1A4;
}
